matrix:
  include:
    - os: osx
      osx_image: xcode10.2
      language: node_js
      node_js: "lts/*"
      env:
        - ELECTRON_CACHE=$HOME/.cache/electron
        - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder
    
    - os: windows
      language: node_js
      node_js: "lts/*"

    - os: linux
      services: docker
      language: generic

cache:
  yarn: true
  directories:
    - node_modules
    - $HOME/.cache/electron
    - $HOME/.cache/electron-builder

before_cache:
  - rm -rf $HOME/.cache/electron-builder/wine

install:
  - |
    if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew install yarn;
    fi

# Run tests and build on PRs and merges to master/prod
script:
  - |
    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      docker run --rm \
        -v ${PWD}:/project \
        -v ~/.cache/electron:/root/.cache/electron \
        -v ~/.cache/electron-builder:/root/.cache/electron-builder \
        electronuserland/builder \
        /bin/bash -c "yarn --link-duplicates --pure-lockfile && yarn build --win"
    elif [ "$TRAVIS_OS_NAME" == "windows" ]; then
      npm install;
      npm run build;
    else
      yarn install;
      yarn release;
    fi

branches:
  only:
    - master
    - devel
