@charset "UTF-8";

.video-js {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

div.controls-overlay {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;

    div.player-controls {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(red, 0.1);
    }
}