.pinning-header {
    position: fixed;
    height: 72px;
    top: 0; left: 0; right: 0;
    margin: 0; padding: 0;
    width: 100%;

    .ph-container {
        height: 70px;
        background: none repeat scroll 0% 0%;
    }

    .main-header {
        position: relative;
        display: flex;
        
        .logo {
            background: url("../../assets/movienight.svg");
            margin-right: 25px;
            display: inline-block;
            cursor: pointer;
        }

        .primary-nav {
            list-style-type: none;
            display: flex;
        
            .navigation-tab {
                margin-left: 20px;
                color: dimgray;

                a { text-decoration: none; }
                a:visited { color: dimgray; }

                .active {
                    color: white;
                }
            }
        }
    }
}

