.searchBox {
    display: inline-block;
    vertical-align: middle;
    
    .searchBar {
        font-family: inherit;
        background: black;
        color: lightgray;
        border: 1px solid lightgray;
        border-radius: 4px;
        outline: 0;
        height: 1.75em;
    }

    .searchTab {
        display: inline-block;
        cursor: pointer;
        border: none;
        color: white;
    }
}